/* Cluster View Styles */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

#cluster-viz {
  width: 100%;
  height: 100%;
  display: block;
}

#cluster-tooltip {
  transition: opacity 0.2s ease;
}
